---
layout: page
title: Achievements
description: Club achievements
---

<div class="container">
  {% assign achievements_by_year = site.achievements | group_by: "date" | date: "%Y" | reverse %}
  <div class="row row-cols-2 row-cols-md-3 g-3">
  {% for achievement_year in achievements_by_year %}
  <h2 class="w-100 mb-0 pt-5">{{ achievement_year.name | date: "%Y" }}</h2>
    {% for achievement in achievement_year.items reversed %}
    <div class="col">
      <div class="card h-100 d-flex justify-content-center align-items-center bg-body-secondary border-0" style="min-height: 16rem;">
        <div class="card-header bg-transparent border-0">
          <small class="badge rounded-pill bg-secondary-subtle bg-gradient text-secondary-emphasis text-capitalize">{{ achievement.team }}</small>
        </div>
        <div class="card-body d-flex flex-column justify-content-center align-items-center">
          <h1 class="card-title text-body-emphasis text-capitalize text-center mb-0 pb-1">{{ achievement.result.place }}</h1>
          <p class="card-text text-body text-center lh-sm mb-0">{{ achievement.competition-name }}</p>
        </div>
        <div class="card-footer bg-transparent border-0">
          <p class="card-text text-capitalize text-body-secondary mb-0 pb-2"><small>{{ achievement.competition-date }}</small></p>
        </div>
      </div>
    </div>
    {% endfor %}
  {% endfor %}
  </div>
</div>
