---
layout: page
title: Contact us
contact-us:
  - name: Phone/WhatsApp
    value: "+6285162957422"
    url:
  - name: Email
    value: "tesafc@hotmail.com"
    url:
  - name: Home base
    value: "Lapangan sepakbola Kutaraja"
    address: "Desa Kutaraja, Kec.Maleber, Kab.Kuningan, Jawa Barat, Indonesia, 45574/45575"
    url:
  - name: Basecamp
    value: "Saung TESA FC"
    address: "RT06, RW02, Dusun Manis, Desa Kutaraja, Kec.Maleber, Kab.Kuningan, Jawa Barat, Indonesia, 45574/45575"
---

<div class="container pt-5">
  {% assign contact-list = page.contact-us %}
  <div class="row row-cols-1 row-cols-md-2 g-3">
    {% for contact in contact-list %}
    <div class="col">
      <div class="card bg-body-tertiary">
        <div class="card-body h-100 d-flex flex-column justify-content-center align-items-center" style="min-height: 8rem;">
          <p class="card-text fw-bolder text-body-secondary mb-1">{{ contact.name }}</p>
          <p class="card-text text-body-emphasis mb-1">{{ contact.value }}</p>
          {% if contact.address %}
          <p class="card-text text-body mb-0">{{ contact.address }}</p>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
