---
layout: default
title: first team
---

<div class="my-5">
  <div class="container">
    {% assign teams = site.data.squad-2022 | where: "team", first-team %}
    {% assign positions = teams | group_by: "position" %}
    <div class="row row-cols-2 row-cols-md-3 g-3">
      {% for position in positions %}
      <h2 class="d-block w-100 text-uppercase ms-3 me-0">{{ position.name }}</h2>
      {% for player in position.items %}
      <div class="col">
        <div class="card h-100 text-bg-dark border-0">
          <img src="{{ player.profile-picture }}" alt="" class="card-img" style="height: 16rem; object-fit: cover;">
          <div class="card-img-overlay bg-gradient-top-bottom d-flex flex-column justify-content-between">
            <h3 class="card-title fw-bolder">{{ player.jersey-number }}</h3>
            <h4 class="card-text text-uppercase">{{ player.jersey-name }}</h4>
          </div>
        </div>
      </div>
      {% endfor %}
      {% endfor %}
    </div>
  </div>
</div>
