---
layout: default
title: tesa football club
description: tesa fc official website
---

<div class="text-bg-dark my-5">
  <div class="container">
    <h1>News</h1>
    <div class="d-flex flex-row flex-nowrap overflow-auto">
      {% for post in site.posts | limit: 5 %}
      <div class="card h-100 text-bg-dark border-secondary me-2" style="min-width: 13rem; min-height: 15rem;">
        {% if post.img %}
        <div class="ratio ratio-4x3">
          <img src="{{ post.img }}" alt="" class="rounded-top" style="object-fit: cover;">
        </div>
        {% endif %}
        <div class="card-body d-flex flex-column justify-content-start">
          <h6 class="card-title text-capitalize mb-1"><a href="{{ post.url | relative_url }}" class="stretched-link link-light text-decoration-none">{{ post.title }}</a></h6>
          <p class="card-text text-secondary"><small>{{ post.date | date: '%b %d, %Y' }}</small></p>
        </div>
      </div>
      {% endfor %}
    </div>
    <h1 class="mt-5">Teams</h1>
    <div class="d-flex flex-row flex-nowrap overflow-auto">
      {% for team in site.teams %}
      <div class="card h-100 text-bg-dark border-0 me-2" style="min-width: 18rem; min-height: 10rem;">
        <div class="ratio ratio-16x9">
          <img src="{% if team.img %}{{ team.img }}{% else %}https://source.unsplash.com/IoJFOvbqF3c{% endif %}" alt="{{ team.name }}" class="card-img" style="object-fit: cover;">
        </div>
        <div class="card-img-overlay bg-gradient-bottom d-flex flex-column justify-content-end">
            <h1 class="fs-3 text-uppercase mb-0"><a href="{{ team.url | relative_url }}" class="link-light stretched-link text-decoration-none">{{ team.name }}</a></h1>
          </div>
      </div>
      {% endfor %}
    </div>
    <h1 class="mt-5">Matches</h1>
    {% assign match-schedule = site.matches | where: "status", "match schedule" %}
    {% assign match-count = match-schedule | size %}
    <h3>Match schedule</h3>
    <div class="d-flex flex-row flex-nowrap overflow-auto">
      {% for match in match-schedule %}
      <div class="card h-100 text-bg-dark rounded-0 me-2">
        <div class="card-header text-center text-uppercase">
          <small class="mb-0">{{ match.time }} • {{ match.kick-off }}</small>
        </div>
        <div class="">
          
        </div>
        <div class="card-footer text-center text-uppercase">
          <small class="mb-0">{{ match.place }}</small>
        </div>
      </div>
      {% endfor %}
      {% if match-count == 0 %}
      <div class="card h-100 text-bg-dark rounded-0 border-secondary" style="min-width: 15rem; min-height: 18rem;">
        <div class="card-body d-flex flex-column justify-content-center align-items-center">
          <small class="text-secondary">no match schedule</small>
        </div>
      </div>
      {% endif %}
    </div>
    {% assign match-result = site.matches | where: "status", "match result" %}
    <h3 class="mt-5">Match results</h3>
    <div class="d-flex flex-row flex-nowrap overflow-auto">
      {% for match in match-result reversed %}
      <div class="card h-100 text-bg-dark rounded-0 border-secondary me-2" style="min-width: 18rem; min-height: 20rem;">
        <div class="card-header text-bg-dark text-center border-0">
          <p class="card-text text-uppercase mb-0"><small>{{ match.time }}</small></p>
          <p class="card-text text-capitalize mb-0"><small>{{ match.competition }} • {{ match.matchday }}</small></p>
        </div>
        <div class="card-body d-flex flex-column justify-content-center align-items-center p-0">
          <div class="row g-2">
            <div class="col-4 d-flex justify-content-end">
              <img src="{% if match.home-team.logo %}{{ match.home-team.logo | relative_url }}{% else %}{{ '/assets/img/logo/logo-blank.png' | relative_url }}{% endif %}" alt="" class="" width="auto" height="55">
            </div>
            <div class="col-4 d-flex justify-content-center align-items-center">
              <p class="d-inline badge text-bg-light text-center fs-3 fw-bolder mb-0 p-2">{{ match.result.score.full-time }}</p>
            </div>
            <div class="col-4 d-flex justify-content-start">
              <img src="{% if match.away-team.logo %}{{ match.away-team.logo | relative_url }}{% else %}{{ '/assets/img/logo/logo-blank.png' | relative_url }}{% endif %}" alt="" class="" width="auto" height="55">
            </div>
          </div>
          <div class="row g-1">
            <div class="col-4 d-flex justify-content-center text-end text-uppercase">{{ match.home-team.name }}</div>
            <div class="col-4 d-flex justify-content-center"></div>
            <div class="col-4 d-flex justify-content-center text-start text-uppercase">{{ match.away-team.name }}</div>
          </div>
        </div>
        <div class="card-footer text-bg-dark text-center text-uppercase border-0">
          <small class="mb-0">{{ match.stadium }}</small>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
