---
layout: default
title: tesa football club
description: tesa fc official website
---

<div class="pt-5">
  <div class="container-fluid">
    <div class="w-100 d-flex justify-content-between align-items-center fw-bolder mb-3">
      <h2 class="mb-0">News</h2>
      <a href="{{ 'news' | relative_url }}" alt="go to news page" class="text-decoration-none">View all</a>
    </div>
    <div class="d-flex flex-row flex-nowrap overflow-auto gap-3 pb-3">
      {% for post in site.posts | limit: 5 %}
      <div class="card h-100 bg-body-secondary border-0" style="min-width: 16rem; min-height: 20rem;">
        {% if post.img %}
        <div class="ratio ratio-4x3">
          <img src="{{ post.img }}" alt="" class="rounded-top border-0 object-fit-cover">
        </div>
        {% endif %}
        <div class="card-body d-flex flex-column justify-content-between">
          <h5 class="card-title text-capitalize mb-1"><a href="{{ post.url | relative_url }}" class="stretched-link text-decoration-none text-body-emphasis">{{ post.title }}</a></h5>
          <p class="card-text text-body"><small>{{ post.date | date: '%b %d, %Y' }}</small></p>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="w-100 d-flex justify-content-between align-items-center fw-bolder pt-5 mb-3">
      <h2 class="mb-0">Teams</h2>
      <a href="{{ 'teams' | relative_url }}" alt="go to news page" class="text-decoration-none">View all</a>
    </div>
    <div class="d-flex flex-row flex-nowrap overflow-auto gap-3 pb-3">
      {% assign teams = site.teams | sort: "order" %}
      {% for team in teams %}
      <div class="card h-100 bg-body-secondary border-0" style="min-width: 18rem; min-height: 10rem;">
        {% if team.image %}
        <div class="ratio ratio-16x9">
          <img src="{{ team.image }}" alt="{{ team.title }}" class="card-img border-0 object-fit-cover">
        </div>
        {% endif %}
        <div class="card-img-overlay bg-gradient-bottom d-flex flex-column justify-content-end">
          <div class="d-flex column-gap-2 mb-2">
          {% for item in team.sub-team %}
            <small class="d-inline-flex badge rounded-pill bg-secondary-subtle bg-gradient text-secondary-emphasis text-capitalize">{{ item }}</small>
          {% endfor %}
          </div>
          <h4 class="text-capitalize mb-0"><a href="{{ team.url | relative_url }}" class="stretched-link text-decoration-none text-light">{{ team.team }}</a></h4>
        </div>
      </div>
      {% endfor %} 
    </div>
    {% assign match-schedule = site.matches-2023 | where: "status", "match schedule" %}
    {% assign match-count = match-schedule | size %}
    <div class="w-100 d-flex justify-content-between align-items-center fw-bolder pt-5 mb-3">
      <h2 class="mb-0">Match schedule</h2>
      <a href="{{ 'matches' | relative_url }}" alt="go to match page" class="text-decoration-none">View all</a>
    </div>
    <div class="d-flex flex-row flex-nowrap overflow-auto gap-3 pb-3">
      {% for match in match-schedule %}
      <div class="card h-100 bg-body-secondary border-0" style="min-width: 16rem; max-width: 16rem; min-height: 20rem;">
        <div class="card-header bg-transparent text-center border-0 pt-3">
          <p class="mb-2">
            <small class="badge rounded-pill bg-secondary-subtle text-secondary-emphasis bg-gradient text-capitalize">{{ match.team }}</small>
            <small class="badge rounded-pill bg-secondary-subtle text-secondary-emphasis bg-gradient text-capitalize">{{ match.team-classification }}</small>
          </p>
          <p class="card-text text-body-emphasis text-capitalize fw-bolder mb-0 lh-sm"><small>{{ match.time }}</small></p>
          <p class="card-text text-body-emphasis text-capitalize mb-0 lh-sm"><small>{{ match.competition }} • {{ match.matchday }}</small></p>
        </div>
        <div class="card-body d-flex flex-column justify-content-center">
          <div class="row g-1 d-flex flex-row justify-content-between">
            <div class="col-5 d-flex justify-content-center">
              <img src="{% if match.home-team.logo %}{{ match.home-team.logo | relative_url }}{% else %}{{ '/assets/img/logo/logo-blank.jpg' | relative_url }}{% endif %}" alt="" class="border-0" width="auto" height="50">
            </div>
            <div class="col-2 d-flex justify-content-center align-items-center">
              <p class="d-inline badge bg-secondary-subtle bg-gradient text-secondary-emphasis text-center fs-3 fw-bolder p-2 mb-0">{{ match.kick-off }}</p>
            </div>
            <div class="col-5 d-flex justify-content-center">
              <img src="{% if match.away-team.logo %}{{ match.away-team.logo | relative_url }}{% else %}{{ '/assets/img/logo/logo-blank.jpg' | relative_url }}{% endif %}" alt="" class="border-0" width="auto" height="50">
            </div>
          </div>
          <div class="row g-1 pt-2">
            <div class="col-5 d-flex justify-content-center text-center text-uppercase text-body-emphasis fw-bolder lh-1"><small>{{ match.home-team.name }}</small></div>
            <div class="col-2 d-flex justify-content-center text-center text-uppercase text-body fw-bolder lh-1"></div>
            <div class="col-5 d-flex justify-content-center text-center text-uppercase text-body-emphasis fw-bolder lh-1"><small>{{ match.away-team.name }}</small></div>
          </div>
        </div>
        <div class="card-footer bg-transparent text-center border-0 pb-3">
          <p class="card-text text-body text-capitalize mb-0 lh-sm"><small>{{ match.stadium }}</small></p>
          <p class="mb-0"><a href="{{ match.url | relative_url }}" class="stretched-link text-decoration-none"><small>Match report</small></a></p>
        </div>
      </div>
      {% endfor %}
      {% if match-count == 0 %}
      <div class="card h-100 bg-body-secondary border-0" style="min-width: 16rem; min-height: 20rem;">
        <div class="card-body d-flex flex-column justify-content-center align-items-center">
          <small class="text-body">currently, no match schedule</small>
        </div>
      </div>
      {% endif %}
    </div>
    {% assign match-result = site.matches-2023 | where: "status", "match result" | reverse %}
    <div class="w-100 d-flex justify-content-between align-items-center fw-bolder pt-5 mb-3">
      <h2 class="mb-0">Match results</h2>
      <a href="{{ 'matches' | relative_url }}" alt="go to match page" class="text-decoration-none">View all</a>
    </div>
    <div class="d-flex flex-row flex-nowrap overflow-auto gap-3 pb-3">
      {% for match in match-result limit: 5 %}
      <div class="card h-100 bg-body-secondary text-body border-0" style="min-width: 16rem; min-height: 18rem;">
        <div class="card-header bg-transparent text-center border-0 pt-3">
          <p class="mb-2">
            <small class="badge rounded-pill bg-secondary-subtle bg-gradient text-secondary-emphasis text-capitalize">{{ match.team }}</small>
            <small class="badge rounded-pill bg-secondary-subtle bg-gradient text-secondary-emphasis text-capitalize">{{ match.team-classification }}</small>
          </p>
          <p class="card-text text-body-emphasis text-capitalize fw-bolder mb-0 lh-sm"><small>{{ match.time }}</small></p>
          <p class="card-text text-body-emphasis text-capitalize mb-0 lh-sm"><small>{{ match.competition }} • {{ match.matchday }}</small></p>
        </div>
        <div class="card-body d-flex flex-column justify-content-center">
          <!--<div class="d-flex justify-content-center align-items-end mb-0"><small class="text-uppercase text-secondary fw-bolder lh-1">{{ match.result.status }}</small></div>-->
          <div class="row g-1 d-flex flex-row justify-content-between">
            <div class="col-5 d-flex justify-content-center">
              <img src="{% if match.home-team.logo %}{{ match.home-team.logo | relative_url }}{% else %}{{ '/assets/img/logo/logo-blank.jpg' | relative_url }}{% endif %}" alt="" class="text-center" width="auto" height="50">
            </div>
            <div class="col-2 d-flex justify-content-center align-items-center">
              <p class="d-inline badge bg-secondary-subtle bg-gradient text-secondary-emphasis text-center fs-1 fw-bolder p-2 mb-0">{{ match.result.score.full-time }}</p>
            </div>
            <div class="col-5 d-flex justify-content-center">
              <img src="{% if match.away-team.logo %}{{ match.away-team.logo | relative_url }}{% else %}{{ '/assets/img/logo/logo-blank.jpg' | relative_url }}{% endif %}" alt="" class="text-center" width="auto" height="50">
            </div>
          </div>
          <div class="row g-1 pt-2">
            <div class="col-5 d-flex justify-content-center text-center text-uppercase text-body-emphasis fw-bolder lh-1"><small>{{ match.home-team.name }}</small></div>
            <div class="col-2 d-flex justify-content-center text-center text-uppercase text-body fw-bolder lh-1"><small>{{ match.result.score.half-time }}</small></div>
            <div class="col-5 d-flex justify-content-center text-center text-uppercase text-body-emphasis fw-bolder lh-1"><small>{{ match.away-team.name }}</small></div>
          </div>
        </div>
        <div class="card-footer bg-transparent text-center border-0 pb-3">
          <p class="card-text text-body text-capitalize mb-0 lh-sm"><small>{{ match.stadium }}</small></p>
          <p class="mb-0"><a href="{{ match.url | relative_url }}" class="stretched-link text-decoration-none"><small>Match report</small></a></p>
        </div>
      </div>
      {% endfor %}
    </div>
    {% assign achievements = site.achievements | reverse %}
    <div class="w-100 d-flex justify-content-between align-items-center fw-bolder pt-5 mb-3">
      <h2 class="mb-0">Achievements</h2>
    </div>
    <div class="d-flex flex-row flex-nowrap overflow-auto gap-3 pb-3">
      {% for achievement in achievements %}
      <div class="card h-100 bg-body-secondary text-body border-0" style="min-width: 13rem; min-height: 17rem;">
        <div class="card-header bg-transparent text-center border-0">
          <!--<p class="card-text text-uppercase fw-bolder mb-0 pt-2">{{ achievement.competition }}</p>-->
          <p class="mb-0 pt-2"><small class="badge rounded-pill bg-secondary-subtle bg-gradient text-secondary-emphasis text-capitalize">{{ achievement.team }}</small></p>
        </div>
        <div class="card-body d-flex flex-column justify-content-center">
          <h1 class="card-title text-capitalize text-center text-body-emphasis mb-0 pb-1">{{ achievement.result.place }}</h1>
          <p class="card-text text-capitalize text-center text-body-emphasis lh-sm mb-0">{{ achievement.competition-name }}</p>
        </div>
        <div class="card-footer bg-transparent text-center border-0">
          <p class="card-text text-center text-capitalize text-body mb-0 pb-2">{{ achievement.competition-date }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
