---
layout: page
title: jersey sponsor
description:
offering:
  - type: jersey home
    team: first team
    name: first team jersey home, season 2023
    qty: 25
    cost: 3.750.000
    details:
      - name: Jersey type
        price: "First team, jersey home"
      - name: Qty
        price: "25"
      - name: Cost/item
        price: "Rp150.000"
      - name: Total cost
        price: "Rp3.750.000"
    price-list:
      - name: Front chest single sponsor
        price: "3.750.000"
      - name: Front chest
        price: "2.000.000"
      - name: Back above name
        price: "750.000"
      - name: Back below number
        price: "500.000"
      - name: Side left arm
        price: "500.000"
  - type: jersey home
    team: development team
    name: development team jersey home, season 2023
    qty: 25
    cost: 3.375.000
    details:
      - name: Jersey type
        price: "Development team, jersey home"
      - name: Qty
        price: "25"
      - name: Cost/item
        price: "Rp135.000"
      - name: Total cost
        price: "Rp3.375.000"
    price-list:
      - name: Front chest single sponsor
        price: "3.375.000"
      - name: Front chest
        price: "1.800.000"
      - name: Back above name
        price: "675.000"
      - name: Back below number
        price: "450.000"
      - name: Side left arm
        price: "450.000"
---

<div>
  {% assign jersey-type = page.offering | group_by: "type" %}
  <div class="row row-cols-1 row-cols-md-2 g-3">
    {% for type in jersey-type %}
    <h2 class="w-100 mb-0 text-capitalize pt-5">{{ type.name }}</h2>
    {% for item in type.items %}
    <div class="col">
      <div class="card h-100 text-bg-dark border-0">
        <div class="card-body">
          <h5 class="card-title text-capitalize">{{ item.name }}</h5>
        <!--</div>-->
        <ul class="list-group list-group-flush text-bg-dark">
          <li class="list-group-item fw-bolder text-bg-dark px-0">Details</li>
          {% for i in item.details %}
          <li class="list-group-item text-bg-dark border-secondary px-0"><small>{{ i.name | append: ":" }} <strong class="text-end">{{ i.price }}</strong></small></li>
          {% endfor %}
        </ul>
        <ul class="list-group list-group-flush text-bg-dark pt-3">
          <li class="list-group-item fw-bolder text-bg-dark px-0">Price list</li>
          {% for i in item.price-list %}
          <li class="list-group-item text-bg-dark border-secondary px-0"><small>{{ i.name | append: ":" }} <strong>{{ i.price | prepend: "Rp" }}</strong></small></li>
          {% endfor %}
        </ul>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-success">Contact us</a>
        </div>
      </div>
    </div>
    {% endfor %}
    {% endfor %}
  </div>
</div>
