---
permalink: /support-us/jersey-sponsorship
page-relation: "support us"
updated: "21/02/2023"
layout: page
title: Jersey sponsorship
description: Jersey sponsorship opportunity
offering:
  - type: jersey home
    team: first team
    jersey-name: jersey home season 2023
    custom-style: bg-body-secondary text-body-emphasis
    details:
      - name: Jersey type
        price: "Jersey home"
      - name: Team
        price: "First team"
      - name: Qty
        price: "20"
      - name: Cost/item
        price: "Rp150.000"
      - name: Total cost
        price: "Rp3.000.000"
    price-list:
      - name: Front chest single sponsor
        price: "3.000.000"
        recommendation: "best"
      - name: Front chest
        price: "1.750.000"
      - name: Back above/below number
        price: "750.000"
      - name: Side left arm
        price: "500.000"
  - type: jersey home
    team: development team
    jersey-name: jersey home season 2023
    custom-style: bg-body-secondary text-body-emphasis
    details:
      - name: Jersey type
        price: "Jersey home"
      - name: Team
        price: "Development team (U-18, U-15, U-13)"
      - name: Qty
        price: "20"
      - name: Cost/item
        price: "Rp135.000"
      - name: Total cost
        price: "Rp2.700.000"
    price-list:
      - name: Front chest single sponsor
        price: "2.700.000"
        recommendation: "best"
      - name: Front chest
        price: "1.600.000"
      - name: Back above/below number
        price: "650.000"
      - name: Side left arm
        price: "450.000"
---

<div class="container-md pt-5">
  <h2 class="w-100 text-capitalize text-body-emphasis mb-3">Penawaran</h2>
  <div class="row row-cols-1 row-cols-md-2 g-3">
    {% for item in page.offering %}
    <div class="col">
      <div class="card h-100 border-0 {{ item.custom-style }}">
        <div class="card-body">
          <h5 class="card-title text-capitalize text-body-emphasis mb-0">{{ item.team }}, {{ item.jersey-name }}</h5>
          <ul class="list-group list-group-flush pt-3 {{ item.custom-style }}">
            <li class="list-group-item bg-transparent text-body fw-bolder px-0 border-secondary border-opacity-75">Details</li>
            {% for i in item.details %}
            <li class="list-group-item px-0 border-opacity-25 {{ item.custom-style }}"><small>{{ i.name | append: ":" }} <strong>{{ i.price }}</strong></small></li>
            {% endfor %}
          </ul>
          <ul class="list-group list-group-flush pt-3 {{ item.custom-style }}">
            <li class="list-group-item bg-transparent text-body fw-bolder px-0 border-secondary border-opacity-75">Price list & logo placement</li>
            {% for i in item.price-list %}
            <li class="list-group-item px-0 border-opacity-25 {{ item.custom-style }}"><small>{{ i.name | append: ":" }} <strong>{{ i.price | prepend: "Rp" }}</strong></small>{% if i.recommendation %}<small class="badge rounded-pill text-bg-warning ms-2"><i class="bi bi-patch-check-fill"></i> {{ i.recommendation }}</small>{% endif %}</li>
            {% endfor %}
          </ul>
        </div>
        <div class="card-footer border-0 {{ item.custom-style }}">
          <a href="#" class="btn btn-success">Contact us</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
