---
layout: page
title: jersey sponsor
description: jersey sponsorship opportunities
offering:
  - type: jersey home
    team: first team
    team-style: text-bg-light border border-dark
    jersey-name: jersey home season 2023
    custom-style: bg-light-subtle text-dark
    details:
      - name: Jersey type
        price: "Jersey home"
      - name: Team
        price: "First team"
      - name: Qty
        price: "25"
      - name: Cost/item
        price: "Rp150.000"
      - name: Total cost
        price: "Rp3.750.000"
    price-list:
      - name: Front chest single sponsor
        price: "3.750.000"
        style: text-light bg-dark-subtle
      - name: Front chest
        price: "2.000.000"
      - name: Back above name
        price: "750.000"
      - name: Back below number
        price: "500.000"
      - name: Side left arm
        price: "500.000"
  - type: jersey home
    team: development team
    team-style: text-bg-dark border
    jersey-name: jersey home season 2023
    custom-style: bg-light-subtle text-dark
    details:
      - name: Jersey type
        price: "Jersey home"
      - name: Team
        price: "Development team"
      - name: Qty
        price: "25"
      - name: Cost/item
        price: "Rp135.000"
      - name: Total cost
        price: "Rp3.375.000"
    price-list:
      - name: Front chest single sponsor
        price: "3.375.000"
        style: text-light bg-dark-subtle
      - name: Front chest
        price: "1.800.000"
      - name: Back above name
        price: "675.000"
      - name: Back below number
        price: "450.000"
      - name: Side left arm
        price: "450.000"
  - type: jersey away
    team: first team
    team-style: text-bg-light border border-dark
    jersey-name: jersey away season 2023
    custom-style: text-bg-dark border-secondary
    details:
      - name: Jersey type
        price: "Jersey away"
      - name: Team
        price: "First team"
      - name: Qty
        price: "25"
      - name: Cost/item
        price: "Rp150.000"
      - name: Total cost
        price: "Rp3.750.000"
    price-list:
      - name: Front chest single sponsor
        price: "3.750.000"
        style: text-light bg-secondary
      - name: Front chest
        price: "2.000.000"
      - name: Back above name
        price: "750.000"
      - name: Back below number
        price: "500.000"
      - name: Side left arm
        price: "500.000"
  - type: jersey away
    team: development team
    team-style: text-bg-dark border
    jersey-name: jersey away season 2023
    custom-style: text-bg-dark border-secondary
    details:
      - name: Jersey type
        price: "Jersey away"
      - name: Team
        price: "Development team"
      - name: Qty
        price: "25"
      - name: Cost/item
        price: "Rp135.000"
      - name: Total cost
        price: "Rp3.375.000"
    price-list:
      - name: Front chest single sponsor
        price: "3.375.000"
        style: text-light bg-secondary
      - name: Front chest
        price: "1.800.000"
      - name: Back above name
        price: "675.000"
      - name: Back below number
        price: "450.000"
      - name: Side left arm
        price: "450.000"
---

<div class="container-fluid pt-5">
  <h2 class="w-100 text-capitalize">offering</h2>
  <div class="row row-cols-1 row-cols-md-2 g-3">
    {% for item in page.offering %}
    <div class="col">
      <div class="card h-100 border-0 {{ item.custom-style }}" style="min-width: 20rem; max-width: 25rem;">
        <div class="card-body">
          <h5 class="card-title text-capitalize mb-0">{{ item.team }}, {{ item.jersey-name }}</h5>
          <ul class="list-group list-group-flush pt-3 {{ item.custom-style }}">
            <li class="list-group-item fw-bolder border-2 border-opacity-75 px-0 {{ item.custom-style }}">Details</li>
            {% for i in item.details %}
            <li class="list-group-item border-opacity-25 {{ item.custom-style }}"><small>{{ i.name | append: ":" }} <strong class="text-end">{{ i.price }}</strong></small></li>
            {% endfor %}
          </ul>
          <ul class="list-group list-group-flush pt-3 {{ item.custom-style }}">
            <li class="list-group-item fw-bolder border-2 border-opacity-75 px-0 {{ item.custom-style }}">Price list & logo placement</li>
            {% for i in item.price-list %}
            <li class="list-group-item border-opacity-25 {{ item.custom-style }} {{ i.style }}"><small>{{ i.name | append: ":" }} <strong>{{ i.price | prepend: "Rp" }}</strong></small></li>
            {% endfor %}
          </ul>
        </div>
        <div class="card-footer border-0 {{ item.custom-style }}">
          <a href="#" class="btn btn-success">Contact us</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <!--
  {% assign jersey-type = page.offering | group_by: "type" %}
  <div class="row row-cols-1 row-cols-md-2 g-3">
    {% for type in jersey-type %}
    <h2 class="w-100 mb-0 text-capitalize pt-5">{{ type.name }}</h2>
    {% for item in type.items %}
    <div class="col">
      <div class="card h-100 border-0 {{ item.custom-style }}">
        <div class="card-body">
          <small class="badge rounded-pill mb-2 text-uppercase {{ item.team-style }}">{{ item.team }}</small>
          <h5 class="card-title text-capitalize">{{ item.team }}, {{ item.jersey-name }}</h5>
        <!--</div>
        <ul class="list-group list-group-flush pt-3 {{ item.custom-style }}">
          <li class="list-group-item fw-bolder border-2 border-opacity-75 px-0 {{ item.custom-style }}">Details</li>
          {% for i in item.details %}
          <li class="list-group-item border-opacity-25 {{ item.custom-style }}">{{ i.name | append: ":" }} <strong class="text-end">{{ i.price }}</strong></li>
          {% endfor %}
        </ul>
        <ul class="list-group list-group-flush pt-4 {{ item.custom-style }}">
          <li class="list-group-item fw-bolder border-2 border-opacity-75 px-0 {{ item.custom-style }}">Price list & logo placement</li>
          {% for i in item.price-list %}
          <li class="list-group-item border-opacity-25 {{ item.custom-style }} {{ i.style }}">{{ i.name | append: ":" }} <strong>{{ i.price | prepend: "Rp" }}</strong></li>
          {% endfor %}
        </ul>
        </div>
        <div class="card-footer border-0 {{ item.custom-style }}">
          <a href="#" class="btn btn-success">Contact us</a>
        </div>
      </div>
    </div>
    {% endfor %}
    {% endfor %}
  </div>
  -->
</div>
