---
layout: page
title: jersey sponsor
description:
offering:
  - type: jersey home
    team: first team
    name: first team jersey home season 2023
    qty: 25
    cost: 3.750.000
    price-list:
      - name: front chest
        price: "2.000.000"
      - name: back above name
        price: "750.000"
      - name: back below number
        price: "500.000"
      - name: side left arm
        price: "500.000"
  - type: jersey home
    team: development team
    name: development team jersey home season 2023
    qty: 25
    cost: 3.375.000
    price-list:
      - name: front chest
        price: "1.800.000"
      - name: back above name
        price: "675.000"
      - name: back below number
        price: "450.000"
      - name: side left arm
        price: "450.000"
---

<div>
  {% assign jersey-type = page.offering | group_by: "type" %}
  <div class="row row-cols-1 row-cols-md-2 g-3">
    {% for type in jersey-type %}
    <h2 class="w-100 mb-0 text-capitalize pt-5">{{ type.name }}</h2>
    {% for item in type.items %}
    <div class="col">
      <div class="card h-100 text-bg-dark border-0">
        <div class="card-header">
          <h5 class="card-title text-capitalize">{{ item.name }}</h5>
        </div>
        <div class="card-body">
        </div>
        <ul class="list-group list-group-flush text-bg-dark">
          <li class="list-group-item fw-bolder">Price list</li>
          {% for i in item.price-list %}
          <li class="list-group-item text-bg-dark"><small>{{ i.name | append: ":" }} <strong>{{ i.price | prepend: "Rp" }}</strong></small></li>
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endfor %}
    {% endfor %}
  </div>
</div>
