---
layout: default
title: matches
---

<div class="my-5">
  <div class="container">
    {% assign schedules = site.matches | where: "status", "match schedule" %}
    <h1 class="text-uppercase">match schedule</h1>
    <div class="row row-cols-1 g-3">
      {% for match in schedules %}
      <div class="col">
        <div class="card text-bg-dark">
          <div class="card-body">
            {{ match.title }}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="container">
    {% assign results = site.matches | where: "status", "match result" %}
    <h1 class="mt-5 text-uppercase">match results</h1>
    <div class="row row-cols-1 g-0">
      {% for match in results reversed %}
      <div class="col">
        <div class="card text-bg-dark border-0 border-bottom rounded-0">
          <div class="card-header border-0">
            <p class="card-text text-center text-capitalize fw-bolder mb-0">{{ match.time }}</p>
            <p class="card-text text-center text-capitalize mb-0">{{ match.competition }} • {{ match.matchday }}</p>
          </div>
          <div class="card-body">
            {{ match.title }}
          </div>
          <div class="card-footer border-0">
            <p class="card-text text-center text-uppercase fw-bolder mb-0">{{ match.kick-off }}</p>
            <p class="card-text text-center text-capitalize mb-0">{{ match.stadium }} • {{ match.place }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
