---
layout: default
title: matches
---

<div class="my-5">
  <div class="container px-0">
    {% assign schedules = site.matches | where: "status", "match schedule" %}
    <h1 class="text-uppercase fw-bolder border-bottom border-secondary px-2 mb-0 pb-2">match schedule</h1>
    <div class="row row-cols-1 g-0">
      {% for match in schedules %}
      <div class="col">
        <div class="card text-bg-dark border-0 border-secondary border-bottom rounded-0 px-0">
          <div class="row row-cols-3 g-1 card-header bg-transparent border-0 px-2">
            <div class="col">
              <p class="card-text text-start text-capitalize mb-0 lh-1"><small>{{ match.time }}</small></p>
              <p class="card-text text-start text-uppercase fw-bolder mb-0 lh-1"><small>{{ match.kick-off }}</small></p>
            </div>
            <div class="col d-flex justify-content-center align-items-start"><small class="badge rounded-pill text-bg-dark border text-uppercase">{{ match.team }}</small></div>
            <div class="col">
              <p class="card-text text-end text-capitalize mb-0 lh-1"><small>{{ match.competition }}</small></p>
              <p class="card-text text-end text-capitalize fw-bolder mb-0 lh-1"><small>{{ match.matchday }}</small></p>
            </div>
          </div>
          <div class="card-body py-2">
            <div class="row g-2">
              <div class="col-4 d-flex justify-content-end align-items-center">
                <p class="card-text text-end text-uppercase fw-bolder lh-1 pe-3 pe-md-0">{{ match.home-team.name }}</p>
              </div>
              <div class="col-1 d-flex justify-content-end align-items-center">
                <img src="{% if match.home-team.logo %}{{ match.home-team.logo | relative_url }}{% else %}{{ '/assets/img/logo/logo-blank.png' | relative_url }}{% endif %}" alt="" class="text-end" width="auto" height="40">
              </div>
              <div class="col-2 d-flex justify-content-center align-items-center">
                <p class="badge text-bg-light text-center fs-3 fw-bolder p-2 mb-0">VS</p>
              </div>
              <div class="col-1 d-flex justify-content-start align-items-center">
                <img src="{% if match.away-team.logo %}{{ match.away-team.logo | relative_url }}{% else %}{{ '/assets/img/logo/logo-blank.png' | relative_url }}{% endif %}" alt="" class="text-start" width="auto" height="40">
              </div>
              <div class="col-4 d-flex justify-content-start align-items-center">
                <p class="card-text text-start text-uppercase fw-bolder lh-1 ps-3 ps-md-0">{{ match.away-team.name }}</p>
              </div>
            </div>
          </div>
          <div class="card-footer bg-transparent border-0">
            <p class="card-text text-center text-capitalize mb-0"><small>{{ match.stadium }} • {{ match.place }}</small></p>
          </div>
          {% if match.status == "no match" %}
          <div class="d-flex justify-content-center align-items-center">
            <p class="card-text mb-0">{{ match.title }}</p>
          </div>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  
  <div class="container px-0">
    {% assign results = site.matches | where: "status", "match result" %}
    <h1 class="mt-5 px-2 text-uppercase fw-bolder border-bottom border-secondary mb-0 pb-2">match results</h1>
    <div class="row row-cols-1 g-0">
      {% for match in results reversed %}
      <div class="col">
        <div class="card text-bg-dark border-0 border-secondary border-bottom rounded-0 px-0">
          <div class="row row-cols-3 g-1 card-header d-flex justify-content-between bg-transparent border-0 px-2">
            <div class="col">
              <p class="card-text text-start text-capitalize mb-0 lh-1"><small>{{ match.time }}</small></p>
              <p class="card-text text-start text-uppercase fw-bolder mb-0 lh-1"><small>{{ match.kick-off }}</small></p>
            </div>
            <div class="col d-flex justify-content-center align-items-start"><small class="badge rounded-pill text-bg-dark border text-uppercase">{{ match.team }}</small></div>
            <div class="col">
              <p class="card-text text-end text-capitalize mb-0 lh-1"><small>{{ match.competition }}</small></p>
              <p class="card-text text-end text-capitalize fw-bolder mb-0 lh-1"><small>{{ match.matchday }}</small></p>
            </div>
          </div>
          <div class="card-body py-2">
            <div class="row g-2">
              <div class="col-4 d-flex justify-content-end align-items-center">
                <p class="card-text text-end text-uppercase fw-bolder lh-1 pe-3 pe-md-0">{{ match.home-team.name }}</p>
              </div>
              <div class="col-1 d-flex justify-content-end align-items-center">
                <img src="{% if match.home-team.logo %}{{ match.home-team.logo | relative_url }}{% else %}{{ '/assets/img/logo/logo-blank.png' | relative_url }}{% endif %}" alt="" class="text-end" width="auto" height="40">
              </div>
              <div class="col-2 d-flex justify-content-center align-items-center">
                <p class="badge text-center text-bg-light fs-3 fw-bolder p-2 mb-0">{{ match.result.score }}</p>
              </div>
              <div class="col-1 d-flex justify-content-start align-items-center">
                <img src="{% if match.away-team.logo %}{{ match.away-team.logo | relative_url }}{% else %}{{ '/assets/img/logo/logo-blank.png' | relative_url }}{% endif %}" alt="" class="text-start" width="auto" height="40">
              </div>
              <div class="col-4 d-flex justify-content-start align-items-center ps-3 ps-md-0">
                <p class="card-text text-start text-uppercase fw-bolder lh-1">{{ match.away-team.name }}</p>
              </div>
            </div>
          </div>
          <div class="card-footer bg-transparent border-0">
            <p class="card-text text-center text-capitalize mb-0"><small>{{ match.stadium }} • {{ match.place }}</small></p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
