---
layout: default
title: news
---

<div>
  <div class="container">
    <h1 class="mb-0">{{ page.title }}</h1>
    <div class="row row-cols-md-3 g-2">
      {% for post in site.posts %}
      <div class="col">
        <div class="card h-100">
          {% if post.img %}
          <div class="ratio ratio-1x1">
            <img src="{{ post.img }}" alt="{{ post.title }}" class="card-img">
          </div>
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.date | date: '%b %d, %Y' }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
