---
layout: default
title: news
---

<div class="my-2">
  <div class="container">
    <h1 class="mb-2 text-capitalize fw-bolder">{{ page.title }}</h1>
    <div class="row row-cols-1 row-cols-md-3 g-2">
      {% for post in site.posts %}
      <div class="col">
        <div class="card h-100 d-flex text-bg-dark bg-gradient border-0 shadow">
          <div class="row g-0">
            {% if post.img %}
            <div class="col-4 col-md-12 ratio ratio-1x1">
              <img src="{{ post.img }}" alt="{{ post.title }}" class="card-img">
            </div>
            {% endif %}
            <div class="col-8 col-md-12 card-body d-flex flex-column justify-content-end">
              <h5 class="card-title text-capitalize">{{ post.title }}</h5>
              <p class="card-text">{{ post.date | date: '%b %d, %Y' }}</p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
