---
layout: page
title: Sponsors & partners
description:
---

<div>
  <div class="container">
    {% assign sponsor-list = site.data.sponsors | group_by: "type" %}
    <div class="row row-cols-2 row-cols-md-3 g-3">
      {% for sponsor-type in sponsor-list %}
      <h2 class="w-100 text-body-emphasis mb-0 pt-5">{{ sponsor-type.name }}</h2>
      {% for sponsor in sponsor-type.items %}
      <div class="col">
        <div class="card h-100 text-body border-0 {{ sponsor.style }}" style="min-height: 8rem;">
          <div class="card-body d-flex justify-content-center align-items-center">
            <img src="{{ sponsor.img | relative_url }}" alt="" class="img-fluid border-0">
          </div>
        </div>
      </div>
      {% endfor %}
      {% endfor %}
    </div>
  </div>
</div>
