---
layout: page
title: support us
description:
support-us:
  - type: sponsorships
    name: jersey sponsor
    description: 
    img:
    url:
  - type: fundraising
    name: training equipment
    description: 
    img:
    url:
  - type: fundraising
    name: training facility
    description: 
    img:
    url:
---

<div>
  <div class="row row-cols-1 row-cols-md-2 g-3">
    {% assign support-type = page.support-us | group_by: "type" %}
    {% for types in support-type %}
    <h2 class="mb-0 text-capitalize">{{ types.type }}</h2>
    {% for item in types.items %}
    <div class="col">
      <div class="card h-100 text-bg-dark border">
        <div class="card-body">
          <h3 class="card-title">{{ item.name }}</h3>
        </div>
      </div>
    </div>
    {% endfor %}
    {% endfor %}
  </div>
</div>
