---
layout: page
title: support us
description:
support-us:
  - type: sponsorships
    name: jersey sponsor
    description: 
    img:
    url:
  - type: fundraising
    name: training equipment
    description: 
    img:
    url:
  - type: fundraising
    name: training facility
    description: 
    img:
    url:
---

<div>
  {% assign support-type = page.support-us | group_by: "type" %}
  <div class="row row-cols-1 row-cols-md-2 g-3">
    {% for type in support-type %}
    <h2 class="w-100 mb-0 text-capitalize">{{ type.name }}</h2>
    {% for item in type.items %}
    <div class="col">
      <div class="card h-100 text-bg-dark border">
        <div class="card-body">
          <h3 class="card-title text-capitalize">{{ item.name }}</h3>
        </div>
      </div>
    </div>
    {% endfor %}
    {% endfor %}
  </div>
</div>
