---
layout: page
title: Support us
description:
support-us:
  - type: "sponsorships"
    name: "jersey sponsorship"
    description: "Jersey sponsorships opportunity"
    img:
    url: /jersey-sponsorship
    url-name: "Selengkapnya"
  - type: "fundraising"
    name: "training equipment"
    description: "Galang dana pengadaan peralatan latihan sepakbola"
    img:
    url: /training-equipment
    url-name: "Selengkapnya"
---

<div class="container pt-5">
  {% assign support-type = page.support-us | group_by: "type" %}
  <h2 class="w-100 mb-3 text-body-emphasis">Way's to support us</h2>
  <div class="row row-cols-1 row-cols-md-2 g-3">
    {% for type in support-type %}
    {% for item in type.items %}
    <div class="col">
      <div class="card h-100 bg-body-secondary border-0" style="min-height: 10rem;">
        <div class="card-body">
          <small class="text-uppercase text-body-secondary mb-1">{{ item.type }}</small>
          <h4 class="card-title text-capitalize text-body-emphasis">{{ item.name }}</h4>
          {% if item.description %}
          <h6 class="card-subtitle text-body">{{ item.description }}</h6>
          {% endif %}
          <a href="{{ item.url | prepend: '/support-us' | relative_url }}" class="card-link stretched-link pt-3">{{ item.url-name }}</a>
        </div>
      </div>
    </div>
    {% endfor %}
    {% endfor %}
  </div>
</div>
