---
layout: page
title: Teams
default-img: https://source.unsplash.com/IoJFOvbqF3c
---

<div class="container pt-5">
    <div class="row row-cols-1 row-cols-md-2 g-3">
      {% assign teams = site.teams | sort: "order" %}
      {% for team in teams %}
      <div class="col">
        <div class="card h-100 bg-body-secondary border-0" style="min-width: 20rem: min-height: 12rem;">
          <div class="ratio ratio-16x9">
            <img src="{% if team.image %}{{ team.image }}{% else %}{{ '/assets/img/bg-2-4x3-min.jpg' | relative_url }}{% endif %}" alt="{{ team.name }}" class="card-img border-0 object-fit-cover">
          </div>
          <div class="card-img-overlay bg-gradient d-flex flex-column justify-content-end">
            <div class="d-flex column-gap-2 mb-2">
            {% for item in team.sub-team %}
              <small class="d-inline-flex badge rounded-pill bg-secondary-subtle bg-gradient text-secondary-emphasis text-uppercase">{{ item }}</small>
            {% endfor %}
            </div>
            <h4 class="w-100 text-capitalize mb-0"><a href="{{ team.url | relative_url }}" class="stretched-link text-decoration-none text-light">{{ team.team }}</a></h4>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
</div>
