---
layout: page
title: training equipment
description:
equipment:
  - type: needed
    name: Training ball
    qty: 10
    img: "https://via.placeholder.com/1600x900"
    cta:
      - name: "Buy for us"
        value: "#"
        style: btn-primary
  - type: needed
    name: "Match ball"
    qty: "3"
    img: "https://via.placeholder.com/1600x900"
  - type: needed
    name: "Agility hurdle"
    qty: "12"
    img: "https://via.placeholder.com/1600x900"
  - type: needed
    name: "Rompi training"
    qty: "12"
    img: "https://via.placeholder.com/1600x900"
  - type: needed
    name: "Shalom Poles"
    qty: "12"
    img: "https://via.placeholder.com/1600x900"
  - type: needed
    name: "Target sheets"
    qty: "1"
    img: "https://via.placeholder.com/1600x900"
  - type: needed
    name: "Rebound board"
    qty: "6"
    img: "https://via.placeholder.com/1600x900"
  - type: needed
    name: "Coaching board"
    qty: "1"
    img: "https://via.placeholder.com/1600x900"
  - type: needed
    name: "Gawang mini"
    qty: "1set"
    img: "https://via.placeholder.com/1600x900"
  - type: needed
    name: "Gawang futsal"
    qty: "1set"
    img: "https://via.placeholder.com/1600x900"
  - type: needed
    name: "Jaring gawang besar"
    qty: "1set"
    img: "https://via.placeholder.com/1600x900"
  - type: needed
    name: "Pompa bola"
    qty: "1"
    img: "https://via.placeholder.com/1600x900"
  - type: owned
    name: "Training ball"
    qty: "8"
    img: "https://via.placeholder.com/1600x900"
    details:
      - name: "Kondisi"
        value: "45%"
  - type: owned
    name: "High marker cones"
    qty: "12"
    img: "https://via.placeholder.com/1600x900"
    details:
      - name: "Kondisi"
        value: "95%"
      - name: "Warna"
        value: "Biru"
  - type: owned
    name: "Low marker cones"
    qty: "24"
    img: "https://via.placeholder.com/1600x900"
    details:
      - name: "Kondisi"
        value: "70%"
      - name: "Warna"
        value: "Banyak warna"
  - type: owned
    name: "Rompi training"
    qty: "12"
    img: "https://via.placeholder.com/1600x900"
    details:
      - name: "Kondisi"
        value: "75%"
      - name: "Warna"
        value: "Orange"
  - type: owned
    name: "Agility ladder"
    qty: "1"
    img: "https://via.placeholder.com/1600x900"
    details:
      - name: "Kondisi"
        value: "80%"
      - name: "Warna"
        value: "Hitam"
---

<div>
  <div class="container">
    {% assign equipment-cat = page.equipment | group_by: "type" %}
    <div class="row row-cols-2 row-cols-md-4 g-3">
      {% for equipment in equipment-cat %}
      <h2 class="w-100 mb-0 pt-5 text-capitalize">{{ equipment.name }}</h2>
      {% for equip in equipment.items %}
      <div class="col">
        <div class="card h-100 text-bg-dark">
          {% if equip.img %}
          <div class="ratio ratio-16x9">
            <img src="{{ equip.img }}" alt="" class="card-img-top">
          </div>
          {% endif %}
          <div class="card-body p-2">
            <h5 class="card-text mb-0">{{ equip.qty }}</h5>
            <p class="card-text mb-0 lh-sm">{{ equip.name }}</p>
            {% if equip.details %}
            <div class="pt-1">
              {% for e in equip.details %}
              <p class="text-secondary my-0 py-0 lh-sm"><small>{{ e.name | append: ":" }} <strong>{{ e.value }}</strong></small></p>
              {% endfor %}
            </div>
            {% endif %}
          </div>
          {% if equip.cta %}
          <div class="card-footer text-bg-dark border-0 pt-0">
            {% for e in equip.cta %}
            <a href="{{ e.value }}" role="button" class="btn btn-sm rounded-pill {{ e.style }}">{{ e.name }}</a>
            {% endfor %}
          </div>
          {% endif %}
        </div>
      </div>
      {% endfor %}
      {% endfor %}
    </div>
  </div>
</div>
