---
layout: page
title: training equipment
description:
equipment:
  - type: needed
    name: Training ball
    qty: 10
    img:
  - type: needed
    name: "Match ball"
    qty: "3"
    img:
  - type: needed
    name: "Agility hurdle"
    qty: "12"
    img:
  - type: needed
    name: "Rompi training"
    qty: "12"
    img:
  - type: needed
    name: "Shalom Poles"
    qty: "12"
    img:
  - type: needed
    name: "Target sheets"
    qty: "1"
    img:
  - type: needed
    name: "Rebound board"
    qty: "6"
    img:
  - type: needed
    name: "Coaching board"
    qty: "1"
    img:
  - type: needed
    name: "Gawang mini"
    qty: "1set"
    img:
  - type: needed
    name: "Gawang futsal"
    qty: "1set"
    img:
  - type: needed
    name: "Jaring gawang besar"
    qty: "1set"
    img:
  - type: needed
    name: "Pompa bola"
    qty: "1"
    img:
  - type: owned
    name: "Training ball"
    qty: "8"
    img:
    details:
      - name: "Kondisi"
        value: "50%"
      - name: "others"
        value: "30%"
  - type: owned
    name: "High marker cones"
    qty: "12"
    img:
  - type: owned
    name: "Low marker cones"
    qty: "24"
    img:
  - type: owned
    name: "Rompi training"
    qty: "12"
    img:
  - type: owned
    name: "Agility ladder"
    qty: "1"
    img:
---

<div>
  <div class="container">
    {% assign equipment-cat = page.equipment | group_by: "type" %}
    <div class="row row-cols-2 row-cols-md-4 g-3">
      {% for equipment in equipment-cat %}
      <h2 class="w-100 mb-0 pt-5 text-capitalize">{{ equipment.name }}</h2>
      {% for equip in equipment.items %}
      <div class="col">
        <div class="card h-100 text-bg-dark">
          <div class="card-body">
            <h5 class="card-text mb-0">{{ equip.qty }}</h5>
            <p class="card-text mb-0 lh-sm">{{ equip.name }}</p>
            <div>
              {% for e in equip.details %}
              <small>{{ e.name | append: ":" }} {{ e.value }}</small>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      {% endfor %}
    </div>
  </div>
</div>
