---
layout: page
title: training equipment
description:
equipment:
  - type: need
    name: training ball
    qty: 10
    img:
  - type: need
    name: match ball
    qty: 3
    img:
  - type: own
    name: training ball
    qty: 8
    img:
  - type: own
    name: cone high
    qty: 12
    img:
  - type: own
    name: cone
    qty: 24
    img:
  - type: own
    name: rompi training
    qty: 12
    img:
---

<div>
  <div class="container">
    {% assign equipment-cat = page.equipment | group_by: "type" %}
    <div class="row row-cols-3 row-cols-md-5 g-3">
      {% for equipment in equipment-cat %}
      <h2 class="w-100 mb-0 pt-5">{{ equipment.name }}</h2>
      {% for equip in equipment.items %}
      <div class="col">
        <div class="card h-100 text-bg-dark">
          <div class="card-body p-1">
            <h5 class="card-text mb-0">{{ equip.qty }}</h5>
            <p class="card-text mb-0 lh-sm"><small>{{ equip.name }}</small></p>
          </div>
        </div>
      </div>
      {% endfor %}
      {% endfor %}
    </div>
  </div>
</div>
