<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {% if page.name == "index.html" %}
        {{ site.title }}{% if site.description %} &middot; {{ site.description }}{% endif %}
      {% else %}
        {{ page.title }} &middot; {{ site.title }}
      {% endif %}
    </title>
    <meta name="description " content="{{ page.description }}">
    <!-- Icon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ 'apple-touch-icon.png' | relative_url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ 'favicon-32x32.png' | relative_url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ 'favicon-16x16.png' | relative_url }}">
    <link rel="manifest" href="{{ 'site.webmanifest' | relative_url }}">
    <!-- Bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ 'assets/stylesheet.css' | relative_url }}">
  </head>
  <body>
    <div class="container-fluid">
      <header class="navbar d-flex mx-auto text-bg-dark">
        <a class="navbar-brand" href="{{ site.baseurl }}">
          <img src="{{ '/assets/img/logo-1_v2.png' | relative_url }}" width="30" height="30">
        </a>
        <nav class="nav nav-masthead">
          <a class="nav-link fw-bold py-1 px-0 active" href="#">News</a>
          <a class="nav-link fw-bold py-1 px-0" href="#">Teams</a>
          <a class="nav-link fw-bold py-1 px-0" href="#">Matches</a>
        </nav>
      </header>
    </div>
    <main>
      {{ content }}
    </main>
    <footer>
      
    </footer>
    
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
  </body>
</html>
