<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {% if page.name == "index.html" %}
        {{ site.title }}{% if site.description %} &middot; {{ site.description }}{% endif %}
      {% else %}
        {{ page.title }} &middot; {{ site.title }}
      {% endif %}
    </title>
    <meta name="description " content="{{ page.description }}">
    <!-- Icon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ 'apple-touch-icon.png' | relative_url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ 'favicon-32x32.png' | relative_url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ 'favicon-16x16.png' | relative_url }}">
    <link rel="manifest" href="{{ 'site.webmanifest' | relative_url }}">
    <!-- Bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ 'assets/stylesheet.css' | relative_url }}">
    <script src="https://kit.fontawesome.com/84683b06c6.js" crossorigin="anonymous"></script>
  </head>
  <body class="text-bg-dark">
    <div class="container-fluid text-bg-dark mt-md-2">
      <header class="navbar mx-auto">
        <a class="navbar-brand text-bg-dark" href="{{ site.url | relative_url }}">
          <img src="{{ '/assets/img/logo-1_v2.png' | relative_url }}" width="35" height="35" class="shadow">
        </a>
        <nav class="nav nav-masthead">
          {% assign currentPage = page.url %}
          <a class="nav-link fw-bold py-2 px-0 {% if currentPage == '/news/' %}active{% endif %}" href="{{ 'news' | relative_url }}">News</a>
          <a class="nav-link fw-bold py-2 px-0 {% if currentPage == '/teams/' %}active{% endif %}" href="{{ 'teams' | relative_url }}">Teams</a>
          <a class="nav-link fw-bold py-2 px-0 {% if currentPage == '/matches/' %}active{% endif %}" href="{{ 'matches' | relative_url }}">Matches</a>
        </nav>
      </header>
    </div>
    <main>
      {{ content }}
    </main>
    <div class="container pt-3 mb-5">
      <h6 class="text-center text-uppercase fw-bolder mb-3">supported by</h6>
      <div class="row row-cols-4 g-2 mx-auto d-flex justify-content-center align-items-center" style="max-width: 450px;">
        <img src="{{ '/assets/img/logo/cipta-agung.png' | relative_url }}" alt="" class="col" style="object-fit: contain;">
        <img src="{{ '/assets/img/logo/montel-forever.png' | relative_url }}" alt="" class="col" style="object-fit: contain;">
        <img src="{{ '/assets/img/logo/mie-mekarwangi.png' | relative_url }}" alt="" class="col" style="object-fit: contain;">
        <img src="{{ '/assets/img/logo/rumah-mawar-kuningan.png' | relative_url }}" alt="" class="col" style="object-fit: contain;">
        <img src="{{ '/assets/img/logo/apotek-berkah.png' | relative_url }}" alt="" class="col" style="object-fit: contain;" height="50">
        <img src="{{ '/assets/img/logo/POK.png' | relative_url }}" alt="" class="col" style="object-fit: contain;" height="28">
        <img src="{{ '/assets/img/logo/yeni-sembako.png' | relative_url }}" alt="" class="col" style="object-fit: contain;" height="32">
        <img src="{{ '/assets/img/logo/redline.png' | relative_url }}" alt="" class="col" style="object-fit: contain;">
      </div>
    </div>
    <div class="container-fluid text-bg-dark bg-gradient mb-5">
      <footer>
        <div>
          <div class="d-flex justify-content-start align-items-center">
            <img src="{{ '/assets/img/logo-2_v2.png' | relative_url }}" alt="" class="shadow" width="45" height="45">
            <p class="mb-0 ps-2 fs-3 fw-bolder">TESA FOOTBALL CLUB</p>
          </div>
          <p class="pt-2 text-secondary" style="max-width: 450px;">
          Kutaraja Soccer Field, Desa Kutaraja Kec. Maleber Kab. Kuningan, Jawa Barat, 45574
          </p>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-start justify-content-md-between align-items-md-center">
          <p class="text-secondary mb-0 lh-1"><small>© 2022 TESA Football Club</small></p>
          <div class="d-flex">
            <a href="https://instagram.com/tesa.fc?igshid=YmMyMTA2M2Y=" alt="" class="fs-4 link-secondary"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.facebook.com/tesafootballclub/" alt="" class="fs-4 link-secondary"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://twitter.com/tesa_fc" alt="" class="fs-4 link-secondary"><i class="fa-brands fa-twitter"></i></a>
            <a href="https://youtube.com/channel/UCIp790AQCWjY_wjIZj68m3w" alt="" class="fs-4 link-secondary"><i class="fa-brands fa-youtube"></i></a>
            <a href="https://tiktok.com/@tesafc" alt="" class="fs-4 link-secondary pe-3"><i class="fa-brands fa-tiktok"></i></a>
            <a href="https://www.flickr.com/people/195320778@N08/" alt="" class="fs-4 link-secondary"><i class="fa-brands fa-flickr"></i></a>
          </div>
        </div>
      </footer>
    </div>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
  </body>
</html>
