---
layout: default
---

<div class="pt-5">
  <div class="container-fluid">
    <div>
      <h1 class="mb-0">{{ page.title }}</h1>
    </div>
    <div>
      {% assign matches-season = site.fixtures | where: "season", page.season %}
      {% assign grouped-match = matches-season | group_by: "date" %}
      {% for sorted-match in grouped-match reversed %}
        {{ sorted-match.name | date: "%B" }}
        {% for match in sorted-match.items %}
          {{ match.title }}
        {% endfor %}
      {% endfor %}
    </div>
  </div>
</div>
