---
layout: default
---

<div class="text-bg-dark mb-5">
  <div class="container-fluid px-0">
    <div class="ratio ratio-16x9">
      <img src="{% if page.img %}{{ page.img }}{% else %}https://live.staticflickr.com/65535/52439329038_2ee85d2149_h.jpg{% endif %}" alt="" style="object-fit: cover;">
    </div>
  </div>
  <div class="container px-0">
    <div class="card text-bg-dark rounded-0 border-0 pt-2">
      <div class="row row-cols-2 g-0 card-header bg-transparent border-0">
        <div class="col">
          <p class="card-text text-start text-capitalize lh-1 mb-0"><small>{{ page.time }}</small></p>
          <p class="card-text text-start text-uppercase fw-bolder lh-1 mb-0"><small>{{ page.kick-off }}</small></p>
        </div>
        <!-- disabled<div class="col d-flex justify-content-center align-items-start"><small class="badge rounded-pill text-bg-dark text-uppercase border">{{ page.team }}</small></div>-->
        <div class="col">
          <p class="card-text text-end text-capitalize lh-1 mb-0"><small>{{ page.competition }}</small></p>
          <p class="card-text text-end text-capitalize fw-bolder lh-1 mb-0"><small>{{ page.matchday }}</small></p>
        </div>
      </div>
      <div class="card-body px-0 pb-4">
        <div class="d-flex justify-content-center align-items-end mb-0"><small class="text-uppercase fw-bolder lh-1">{{ page.result.status }}</small></div>
        <div class="row g-0">
          <div class="col-4 d-flex justify-content-end align-items-center">
            <p class="card-text text-end text-uppercase fw-bolder lh-1 mb-0 pe-3 pe-md-0">{{ page.home-team.name }}</p>
          </div>
          <div class="col-1 d-flex justify-content-end align-items-center">
            <img src="{% if page.home-team.logo %}{{ page.home-team.logo | relative_url }}{% else %}{{ '/assets/img/logo/logo-blank.png' | relative_url }}{% endif %}" alt="" class="text-end" width="auto" height="40">
          </div>
          <div class="col-2 d-flex justify-content-center align-items-center py-2">
            <p class="badge text-bg-light text-center fs-2 fw-bolder p-2 mb-0">{{ page.result.score.full-time }}</p>
          </div>
          <div class="col-1 d-flex justify-content-start align-items-center">
            <img src="{% if page.away-team.logo %}{{ page.away-team.logo | relative_url }}{% else %}{{ '/assets/img/logo/logo-blank.png' | relative_url }}{% endif %}" alt="" class="text-end" width="auto" height="40">
          </div>
          <div class="col-4 d-flex justify-content-start align-items-center">
            <p class="card-text text-start text-uppercase fw-bolder lh-1 mb-0 ps-3 ps-md-0">{{ page.away-team.name }}</p>
          </div>
          <div class="d-inline-flex justify-content-center align-items-end mb-0"><small class="text-uppercase text-secondary fw-bolder">{{ page.result.score.half-time | prepend: "ht " }}</small></div>
          {% if page.result.status == "ft" %}
          <div class="row g-0">
            {% if page.result.goal.home-team %}
            <div class="col-6">
              <ul class="list-group text-end rounded-0 border-0 p-0 pt-2 pe-2">
              {% for goal in page.result.goal.home-team %}
                <li class="list-group-item text-capitalize text-bg-dark border-0 p-0">{% if goal.goal-type %}<small class="pe-2 text-secondary">{{ goal.goal-type }}</small>{% endif %}<small class="text-secondary">{{ goal.time }}</small><small class="fw-bolder px-2">{{ goal.name }}</small><i class="fa-solid fa-futbol text-secondary"></i></li>
              {% endfor %}
              </ul>
            </div>
            {% endif %}
            {% if page.result.goal.away-team %}
            <div class="col-6">
              <ul class="list-group text-start rounded-0 border-0 p-0 ps-2 pt-2">
              {% for goal in page.result.goal.away-team %}
                <li class="list-group-item text-capitalize text-bg-dark border-0 p-0"><i class="fa-solid fa-futbol text-secondary "></i><small class="fw-bolder px-2">{{ goal.name }}</small><small class="text-secondary">{{ goal.time }}</small>{% if goal.goal-type %}<small class="ps-2 text-secondary">{{ goal.goal-type }}</small>{% endif %}</li>
              {% endfor %}
              </ul>
            </div>
            {% endif %}
          </div>
          {% endif %}
        </div>
      </div>
      <div class="card-footer bg-transparent border-0">
        <p class="card-text text-center text-capitalize text-secondary fw-bolder mb-0"><i class="fa-solid fa-location-pin text-secondary pe-2"></i>{{ page.stadium }} • {{ page.place }}</p>
      </div>
    </div>
  </div>
  {% if page.lineup %}
  <div class="container px-0 mt-5">
    <h1 class="text-center text-uppercase text-bg-dark fw-bolder mb-4">lineup</h1>
    <div class="row g-0">
      {% if page.lineup.home-team.lineup %}
      <ul class="col-6 list-group border-0 rounded-0 p-0 pe-3">
        <li class="list-group-item text-bg-dark text-end border-0 p-0 pb-2">
          <span class="text-end text-uppercase fs-5 fw-bolder border-0 p-0">{{ page.home-team.name }}</span>
        </li>
        {% for player in page.lineup.home-team.lineup %}
        <li class="d-block row g-0 list-group-item text-bg-dark text-end border-0 p-0 pb-1">
          {% if player.role %}<small class="d-inline-block block col-auto text-uppercase fw-bolder text-secondary">{{ player.role }}</small>{% endif %}
          <span class="d-inline-block col-auto text-capitalize px-1">{{ player.name }}</span>
          <span class="d-inline-block col-1 text-uppercase text-secondary fw-bolder">{{ player.no-punggung }}</span>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
      {% if page.lineup.away-team.lineup %}
      <ul class="col-6 list-group border-0 rounded-0 p-0 ps-3">
        <li class="list-group-item text-bg-dark text-start border-0 p-0 pb-2">
          <span class="text-end text-uppercase fs-5 fw-bolder border-0 p-0">{{ page.away-team.name }}</span>
        </li>
        {% for player in page.lineup.away-team.lineup %}
        <li class="d-block row g-0 list-group-item text-bg-dark text-start border-0 p-0 pb-1">
          <span class="d-inline-block col-1 text-uppercase text-secondary fw-bolder">{{ player.no-punggung }}</span>
          <span class="d-inline-block col-auto text-capitalize px-1">{{ player.name }}</span>
          {% if player.role %}<small class="d-inline-block col-auto text-uppercase fw-bolder text-secondary">{{ player.role }}</small>{% endif %}
        </li>
        {% endfor %}
      </ul>
      <h3 class="d-block text-center text-uppercase text-bg-dark text-secondary fw-bolder mt-3 mb-2">subs</h3>
      <ul class="col-6 list-group border-0 rounded-0 p-0 pe-3">
        {% for player in page.lineup.home-team.subs %}
        <li class="d-block row g-0 list-group-item text-bg-dark text-end border-0 p-0 pb-1">
          {% if player.role %}<small class="d-inline-block block col-auto text-uppercase fw-bolder text-secondary">{{ player.role }}</small>{% endif %}
          <span class="d-inline-block col-auto text-capitalize px-1">{{ player.name }}</span>
          <span class="d-inline-block col-1 text-uppercase text-secondary fw-bolder">{{ player.no-punggung }}</span>
        </li>
        {% endfor %}
      </ul>
      <ul class="col-6 list-group border-0 rounded-0 p-0 ps-3">
        {% for player in page.lineup.away-team.subs %}
        <li class="d-block row g-0 list-group-item text-bg-dark tex-start border-0 p-0 pb-1">
          <span class="d-inline-block col-1 text-uppercase text-secondary fw-bolder">{{ player.no-punggung }}</span>
          <span class="d-inline-block col-auto text-capitalize px-1">{{ player.name }}</span>
          {% if player.role %}<small class="d-inline-block block col-auto text-uppercase fw-bolder text-secondary">{{ player.role }}</small>{% endif %}
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </div>
  {% endif %}
</div>
