---
layout: default
---

<div class="mb-5">
  <div class="container-fluid">
    <div class="ratio ratio-16x9">
      <img src="{% if page.img %}{{ page.img }}{% else %}https://source.unsplash.com/HgwY_YQ1m0w{% endif %}" alt="" style="object-fit: cover;">
    </div>
  </div>
  <div class="container">
    <div class="card text-bg-dark rounded-0 border-0">
      <div class="row row-cols-3 g-1 card-header">
        <div class="col">
          <p class="card-text text-start text-capitalize lh-1 mb-0"><small>{{ page.time }}</small></p>
          <p class="card-text text-start text-capitalize fw-bolder lh-1 mb-0"><small>{{ page.kick-off }}</small></p>
        </div>
        <div class="col d-flex justify-content-center"><small class="badge rounded-pill text-bg-dark text-uppercase border">{{ match.team }}</div>
        <div class="col">
          <p class="card-text text-end text-capitalize lh-1 mb-0"><small>{{ page.competition }}</small></p>
          <p class="card-text text-end text-capitalize fw-bolder lh-1 mb-0"><small>{{ page.matchday }}</small></p>
        </div>
      </div>
    </div>
  </div>
</div>
