---
layout: default
---

<div class="pt-5">
  <div class="container-fluid">
    <div>
      <h1 class="mb-0">{{ page.title }}</h1>
    </div>
    <div>
      {% assign matches-season = site.fixtures | where: "season", page.season %}
      {% assign grouped-match = matches-season | group_by: "date | date: '%B'" %}
      <ul>
      {% for sorted-match in grouped-match reversed %}
        <li>{{ sorted-match.name | date: "%B" }}</li>
        {% for match in sorted-match.items %}
        <ul>
          <li>{{ match.title }}</li>
        {% endfor %}
        </ul>
      {% endfor %}
      </ul>
    </div>
  </div>
</div>
