---
layout: default
---

<div>
  <div class="container-fluid px-0">
    <div class="ratio ratio-16x9">
      <img src="{% if page.image %}{{ page.image }}{% else %}{{ '/assets/img/img-placeholder-16x9.jpg' | relative_url }}{% endif %}" alt="" class="object-fit-cover border-0">
    </div>
  </div>
  <div class="container px-0">
    <div class="w-100 card bg-transparent rounded-0 border-0 pt-2 pb-0">
      <div class="row row-cols-2 g-0 card-header text-body bg-transparent border-0 pb-1">
        <div class="col d-flex flex-column flex-md-row justify-content-start">
          <p class="card-text text-start text-capitalize lh-1 mb-0 pe-md-2"><small>{{ page.time }}</small></p>
          <p class="card-text text-start text-uppercase fw-bolder lh-1 mb-0"><small>{{ page.kick-off | append: " WIB" }}</small></p>
        </div>
        <div class="col d-flex flex-column flex-md-row justify-content-end">
          <p class="card-text text-end text-capitalize lh-1 mb-0 pe-md-2"><small>{{ page.competition }}</small></p>
          <p class="card-text text-end text-capitalize fw-bolder lh-1 mb-0"><small>{{ page.matchday }}</small></p>
        </div>
      </div> 
      <div class="d-block w-100 card-body p-0">
        <!--<div class="d-block text-center mb-0"><small class="text-uppercase text-secondary fw-bolder lh-1">{{ page.result.status }}</small></div>-->
        <div class="text-center pb-2 pt-0">
          <small class="badge rounded-pill bg-secondary-subtle bg-gradient text-secondary-emphasis text-capitalize">{{ page.team }}</small>
          <small class="badge rounded-pill bg-secondary-subtle bg-gradient text-secondary-emphasis text-capitalize">{{ page.team-classification }}</small>
        </div>
        <div class="row g-0">
          <div class="col-4 d-flex justify-content-end align-items-center">
            <p class="card-text text-end text-uppercase text-body-emphasis fw-bolder lh-1 mb-0 pe-3 pe-md-0">{{ page.home-team.name }}</p>
          </div>
          <div class="col-1 d-flex justify-content-end align-items-center pe-1 pe-md-0">
            <img src="{% if page.home-team.logo %}{{ page.home-team.logo | relative_url }}{% else %}{{ '/assets/img/logo/logo-img-placeholder.jpg' | relative_url }}{% endif %}" alt="" class="text-end" width="auto" height="40">
          </div>
          <div class="col-2 d-flex justify-content-center align-items-center py-2">
            <p class="badge bg-secondary-subtle bg-gradient text-body-emphasis text-center fs-2 fw-bolder mb-0 p-1">{% if page.result.score.full-time %}{{ page.result.score.full-time }}{% else %}{{ page.kick-off }}{% endif %}</p>
          </div>
          <div class="col-1 d-flex justify-content-start align-items-center ps-1 ps-md-0">
            <img src="{% if page.away-team.logo %}{{ page.away-team.logo | relative_url }}{% else %}{{ '/assets/img/logo/logo-img-placeholder.jpg' | relative_url }}{% endif %}" alt="" class="text-end" width="auto" height="40">
          </div>
          <div class="col-4 d-flex justify-content-start align-items-center">
            <p class="card-text text-start text-uppercase text-body-emphasis fw-bolder lh-1 mb-0 ps-3 ps-md-0">{{ page.away-team.name }}</p>
          </div>
          <div class="d-inline-flex justify-content-center align-items-end mb-0"><small class="text-uppercase text-body fw-bolder">{% if page.result.score.half-time %}{{ page.result.score.half-time }}{% endif %}</small></div>
          {% if page.result.status == "full-time" %}
          <div class="row row-cols-2 g-0">
            {% if page.result.goal.home-team %}
            <div class="col">
              <ul class="list-group text-end rounded-0 border-0 p-0 pt-2 pe-2">
              {% for goal in page.result.goal.home-team %}
                <li class="list-group-item text-body-emphasis bg-transparent border-0 p-0">{% if goal.goal-type %}<small class="pe-2 text-body">{{ goal.goal-type }}</small>{% endif %}<small class="text-body">{{ goal.time | append: "'" }}</small><small class="fw-bolder px-2 text-capitalize text-body-emphasis">{{ goal.name }}</small><li>
              {% endfor %}
              </ul>
            </div>
            {% else %}
            <div class="col"></div>
            {% endif %}
            {% if page.result.goal.away-team %}
            <div class="col">
              <ul class="list-group text-start rounded-0 border-0 p-0 ps-2 pt-2">
              {% for goal in page.result.goal.away-team %}
                <li class="list-group-item text-body-emphasis bg-transparent border-0 p-0"><small class="fw-bolder px-2 text-capitalize text-body-emphasis">{{ goal.name }}</small><small class="text-body">{{ goal.time | append: "'" }}</small>{% if goal.goal-type %}<small class="ps-2 text-body">{{ goal.goal-type }}</small>{% endif %}</li>
              {% endfor %}
              </ul>
            </div>
            {% else %}
            <div class="col"></div>
            {% endif %}
          </div>
          {% endif %}
        </div>
      </div>
      <div class="d-block w-100 card-footer bg-transparent border-0 pt-4">
        <p class="card-text text-center text-capitalize text-body-secondary mb-0"><small>{{ page.stadium }} • {{ page.place }}</small></p>
      </div>
    </div>
  </div>
  {% if page.lineup %}
  <div class="container px-0 pt-5">
    <h4 class="text-center text-uppercase text-body-emphasis fw-bolder mb-4">lineup</h4>
    <div class="row g-0">
      {% if page.lineup.home-team.lineup %}
      <ul class="col-6 list-group border-0 rounded-0 p-0 pe-3">
        <li class="list-group-item text-body-emphasis bg-transparent text-end border-0 p-0 pb-2">
          <span class="text-end text-uppercase fs-6 fw-bolder border-0 p-0">{{ page.home-team.name }}</span>
        </li>
        {% for player in page.lineup.home-team.lineup %}
        <li class="d-block row g-0 list-group-item text-body-emphasis bg-transparent text-end border-0 p-0 pb-1">
          {% if player.role %}<small class="d-inline-block block col-auto text-uppercase fw-bolder text-body">{{ player.role }}</small>{% endif %}
          <span class="d-inline-block col-auto text-capitalize text-body-emphasis px-1">{{ player.name }}</span>
          <span class="d-inline-block col-1 text-uppercase text-body fw-bolder">{{ player.no-punggung }}</span>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
      {% if page.lineup.away-team.lineup %}
      <ul class="col-6 list-group border-0 rounded-0 p-0 ps-3">
        <li class="list-group-item text-body-emphasis bg-transparent text-start border-0 p-0 pb-2">
          <span class="text-end text-uppercase fs-6 fw-bolder border-0 p-0">{{ page.away-team.name }}</span>
        </li>
        {% for player in page.lineup.away-team.lineup %}
        <li class="d-block row g-0 list-group-item bg-transparent text-start border-0 p-0 pb-1">
          <span class="d-inline-block col-1 text-uppercase text-start text-body fw-bolder">{{ player.no-punggung }}</span>
          <span class="d-inline-block col-auto text-capitalize text-body-emphasis px-1">{{ player.name }}</span>
          {% if player.role %}<small class="d-inline-block col-auto text-uppercase fw-bolder text-body">{{ player.role }}</small>{% endif %}
        </li>
        {% endfor %}
      </ul>
      <h5 class="d-block text-center text-uppercase text-body-emphasis bg-transparent fw-bolder mt-3 mb-2">subs</h5>
      <ul class="col-6 list-group border-0 rounded-0 p-0 pe-3">
        {% for player in page.lineup.home-team.subs %}
        <li class="d-block row g-0 list-group-item bg-transparent text-end border-0 p-0 pb-1">
          {% if player.role %}<small class="d-inline-block block col-auto text-uppercase fw-bolder text-body">{{ player.role }}</small>{% endif %}
          <span class="d-inline-block col-auto text-capitalize text-body-emphasis px-1">{{ player.name }}</span>
          <span class="d-inline-block col-1 text-uppercase text-body fw-bolder">{{ player.no-punggung }}</span>
        </li>
        {% endfor %}
      </ul>
      <ul class="col-6 list-group border-0 rounded-0 p-0 ps-3">
        {% for player in page.lineup.away-team.subs %}
        <li class="d-block row g-0 list-group-item bg-transparent tex-start border-0 p-0 pb-1">
          <span class="d-inline-block col-1 text-uppercase text-body fw-bolder">{{ player.no-punggung }}</span>
          <span class="d-inline-block col-auto text-capitalize text-body-emphasis px-1">{{ player.name }}</span>
          {% if player.role %}<small class="d-inline-block block col-auto text-uppercase fw-bolder text-body">{{ player.role }}</small>{% endif %}
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </div>
  {% endif %}
</div>
