---
layout: default
---

<div class="pt-5">
  <div>
    <header class="container text-light">
      {% if page.page-relation %}
      <small class="d-inline-block text-secondary fw-bolder text-uppercase mb-2">{{ page.page-relation }}</small>
      {% endif %}
      <h1 class="mb-2">{{ page.title }}</h1>
      {% if page.description %}
      <h4 class="mb-0 text-secondary lh-sm">{{ page.description }}</h4>
      {% endif %}
      {% if page.updated %}
      <small class="d-inline-block text-secondary mt-4">{{ page.updated | prepend: "Last-update: " }}</small>
      {% endif %}
    </header>
    <div>
      <div>
        {{ content }}
      </div>
    </div>
  </div>
</div>
