---
layout: default
---

<div class="my-5 text-bg-dark">
  <div class="container">
    <div class="card text-bg-dark rounded-0 border-0">
      <img src="{{ page.profile-picture | relative_url }}" alt="" class="card-img pb-5 mb-5" style="object-fit: contain; max-height: 30rem;">
      <div class="card-img-overlay d-flex flex-column justify-content-between p-0">
        <div>
          <h1 class="card-title text-start text-uppercase fw-bolder mb-0 ps-2 ps-md-5" style="font-size: 4rem;">{{ page.jersey-number }}</h1>
        </div>
        <div>
          <p class="card-text text-center mb-0"><span class="badge rounded-pill text-uppercase text-bg-light lh-1">{{ page.position }}</span></p>
          <h2 class="card-title text-center text-capitalize fw-bolder mb-0" style="font-size: 3rem;">{{ page.jersey-name }}</h2>
        </div>
      </div>
    </div>
  </div>
</div>
