---
layout: default
---

<div>
  <div class="container">
    <div class="row row-cols-1 row-cols-md-2 g-3">
      <div class="col">
        <div class="ratio" style="--bs-aspect-ratio: 135%;">
          <img src="{% if page.profile-picture %}{{ page.profile-picture }}{% else %}{{ '/assets/img/logo/player-img-placeholder.jpg' | relative_url }}{% endif %}" alt="foto {{ page.jersey-name }}" class="img-fluid object-fit-cover">
        </div>
      </div>
      <div class="col">
        <div class="d-flex flex-md-column justify-content-start justify-content-md-center">
          <p class="text-center text-md-start text-uppercase mb-1 text-secondary-emphasis"><small>{{ page.position }}</small></p>
          <p class="fs-1 text-center text-md-start mb-0 fw-bolder text-body">{{ page.jersey-number }}</p>
          <p class="fs-2 text-center text-md-start mb-0 text-capitalize fw-bolder text-body-emphasis">{{ page.jersey-name }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- disabled
<div class="pt-5">
  <div class="container">
    <div class="card bg-transparent rounded-0 border-0 mb-5">
      <img src="{{ page.profile-picture | relative_url }}" alt="" class="card-img rounded-0 pb-5 mb-5 object-fit-cover">
      <div class="card-img-overlay d-flex flex-column justify-content-between p-0">
        <div>
          <h1 class="card-title text-start text-uppercase fw-bolder text-body-emphasis mb-0 ps-1 ps-md-5" style="font-size: 3rem;">{{ page.jersey-number }}</h1>
        </div>
        <div>
          <p class="card-text text-center mb-1"><span class="badge rounded-pill text-uppercase bg-secondary-subtle bg-gradient text-secondary-emphasis lh-1">{{ page.position }}</span></p>
          <h1 class="card-title text-center text-capitalize fw-bolder text-body-emphasis mb-0" style="font-size: 2.5rem;">{{ page.jersey-name }}</h1>
        </div>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2">
      <div class="col">
        <h3 class="text-uppercase fw-bolder mb-0 pb-3">profile</h3>
        <table class="table text-body-emphasis bg-transparent">
          <tbody>
            {% for item in page.details %}
            <tr class="row g-2 px-1">
              <td class="col-5 text-capitalize ps-0">{{ item.name }}</td>
              <td class="col-7 text-uppercase fw-bolder">{{ item.value }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% if page.stats %}
      <div class="col text-body-emphasis bg-transparent">
        <h3 class="text-uppercase fw-bolder mb-0 pt-5 pt-md-0 pb-3">statistics</h3>
        <div class="row row-cols-3 row-cols-md-3 g-0">
          {% for stat in page.stats %}
          <div class="col text-body-emphasis border">
            <div class="text-center py-3 px-1">
              <p class="fs-6 text-capitalize lh-1 mb-0">{{ stat.name }}</p>
              <p class="fs-1 text-uppercase fw-bolder mb-0">{{ stat.value }}</p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>
-->
