---
layout: default
---

<div class="pt-5">
  <div class="container">
    <header>
      <h1 class="mb-1 text-capitalize text-body-emphasis">{{ page.title }}</h1>
      {% if page.description %}
      <h4 class="mb-0 text-body lh-sm">{{ page.description }}</h4>
      {% endif %}
      <time datetime="{{ page.date | date_to_xmlschema }}">
        <small class="d-inline-block text-body-secondary mt-3">{{ page.date | date: '%B %d, %Y' }}</small>
      </time>
    </header>
    <div class="pt-5">
      <div class="text-body">
        {{ content }}
      </div>
    </div>
  </div>
</div>
