---
layout: default
---

<div class="pt-5">
  <div class="container-fluid">
    <div>
      <h1 class="mb-0 fw-bolder text-body-emphasis">{{ page.title }}</h1>
    </div>
    <ul class="nav nav-pills rounded-pill my-3" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link rounded-pill active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Home</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Profile</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Contact</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-disabled-tab" data-bs-toggle="pill" data-bs-target="#disabled" type="button" role="tab" aria-controls="disabled" aria-selected="false" disabled>Disabled</button>
      </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">snow home</div>
      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">show profile</div>
      <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="pills-contact-tab" tabindex="0">show contact</div>
      <div class="tab-pane fade" id="disabled" role="tabpanel" aria-labelledby="pills-disabled-tab" tabindex="0">disabled</div>
    </div>
    <!--
    <div>
      <ul class="nav nav-pills" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="pills-player-tab" data-bs-toggle="pill" data-bs-target="#pills-player" type="button" role="tab" aria-controls="pills-player" aria-selected="true">Player</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-achievement-tab" data-bs-toggle="pill" data-bs-target="#pills-achievement" type="button" role="tab" aria-controls="pills-achievement" aria-selected="false">Achievement</button>
        </li>
      </ul>
    </div>
    
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-player" role="tabpanel" aria-labelledby="pills-player-tab" tabindex="0">
        show player list
      </div>
      <div class="tab-pane fade" id="pills-achievement" role="tabpanel" aria-labelledby="pills-achievement-tab" tabindex="0">
        show achievement list
      </div>
    </div>
    -->
  </div>
</div>

<!--
<div class="pt-5">
  <div class="container-fluid">
    <h1 class="mb-0 text-capitalize fw-bolder text-body-emphasis">{{ page.title }}</h1>
    {% assign selected-team = page.team %}
    {% assign teams = site.players | where: "team", selected-team %}
    {% assign positions = teams | group_by: "position" %}
    <div class="row row-cols-2 row-cols-md-4 g-3">
      {% for position in positions %}
      <h4 class="d-block w-100 text-uppercase pt-5 mb-0 text-body-emphasis">{{ position.name }}</h4>
      {% for player in position.items %}
      <div class="col">
        <div class="card h-100 bg-body-secondary border-0">
          <div class="ratio" style="--bs-aspect-ratio: 135%">
            <img src="{% if player.profile-picture %}{{ player.profile-picture | relative_url }}{% else %}{{ '/assets/img/player-img-placeholder.webp' | relative_url }}{% endif %}" alt="" class="card-img border-0 object-fit-contain pt-2">
          </div>
          <div class="card-img-overlay d-flex flex-column justify-content-between">
            <h3 class="card-title fw-bolder text-body-emphasis mb-0">{{ player.jersey-number }}</h3>
            <h5 class="card-text text-capitalize text-body-emphasis mb-0 lh-1"><a href="{{ player.url | relative_url }}" class="stretched-link text-decoration-none text-body-emphasis">{{ player.jersey-name }}</a></h5>
          </div>
        </div>
      </div>
      {% endfor %}
      {% endfor %}
    </div>
  </div>
</div>
-->
