---
layout: default
---

<div class="mb-5">
  <div class="container">
    {% assign selected-team = page.team %}
    {% assign teams = site.players | where: "team", selected-team %}
    {% assign positions = teams | group_by: "position" %}
    <div class="row row-cols-2 row-cols-md-3 g-3">
      {% for position in positions %}
      <h3 class="d-block w-100 text-uppercase mt-5 mb-0">{{ position.name }}</h3>
      {% for player in position.items %}
      <div class="col">
        <div class="card h-100 text-light bg-transparent border-secondary">
          <img src="{{ player.profile-picture | relative_url }}" alt="" class="card-img px-2" style="height: 16rem; object-fit: contain;">
          <div class="card-img-overlay bg-gradient-top-bottom d-flex flex-column justify-content-between">
            <h3 class="card-title fw-bolder">{{ player.jersey-number }}</h3>
            <h4 class="card-text text-uppercase"><a href="{{ player.url | relative_url }}" class="stretched-link link-light text-decoration-none">{{ player.jersey-name }}</a></h4>
          </div>
        </div>
      </div>
      {% endfor %}
      {% endfor %}
    </div>
  </div>
</div>
